body {
    background: linear-gradient(to right, #DFE6E8, #BBC8CD ); 
}
 /* header */
.menu {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul li {
    list-style: none;
    display: inline-block;
}
.menu ul li a, .menu .logo {
    text-decoration: none;
}
.navegador {
    color: #2C2B2B;
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
    padding: 18px;
    font-weight: 700;
}
/* titulos */
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
}

/* carrousel */
.slide img {
    height: 600px;
    width: 800px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #292929, #2929291c );
}
.row {
    padding: 26 px;
    font-weight: 300;
}
.resenas img {
    align-items: flex-start;
}
/* buscador */
.form-control {
width: 1000px;
padding: 15px;
}

/* mapa */
iframe {
    border-radius: 20px;
    display: block;
    padding-bottom: 30px;
}

/* formulario */

.mb-3 input, .mb-3 textarea {
    width: 500px;
}
.imagenformulario img {
    border-radius: 20px;
    float: right;
    padding-bottom: 30px;
}