body {
    background: linear-gradient(to right, #DFE6E8, #BBC8CD ); 
}
 /* header */
.menu {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul li {
    list-style: none;
    display: inline-block;
}
.menu ul li a, .menu .logo {
    text-decoration: none;
}
.navegador {
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
    padding: 18px;
    font-weight: 700;
    color: #2C2B2B;
}
/* colores */
.colorprimary {
    color: #2C2B2B;
}
.colorsecundary {
    color: #56070C;
}
.coloracento {
    color: #34591B;
}

/* titulos */
h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    text-align: center;
}
h2 h3 {
    font-weight: 700;
}
h3 h4 h5 {
    font-family: 'Roboto Condensed', sans-serif;
}
h3 {
    font-size: 18px;
    text-align: center;
}
h4 {
    font-weight: 700;
    text-align: justify;
    font-size: 16px;
    padding-top: 16px;
}
h5 {
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
}

/* carrousel */
.slide img {
    height: 600px;
    width: 800px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #292929, #2929291c );
}
.row {
    padding: 26 px;
    font-weight: 300;
}
.resenas img {
    align-items: flex-start;
}
/* buscador */
.form-control {
width: 1000px;
padding: 15px;
}

/* mapa */
iframe {
    border-radius: 20px;
    display: block;
    padding-bottom: 30px;
}

/* formulario */

.mb-3 input, .mb-3 textarea {
    width: 500px;
}
.imagenformulario img {
    border-radius: 20px;
    float: right;
    padding-bottom: 10px;
}
/* imagenes */

.container-index .column {
    float: left;
    width: 33.33%;
}
.container-index img {
    border-radius: 20px;
}

/* transformaciones */
.index-01:hover {
    transform: scale(2);
}
.index-02:hover {
    transform: scale(2);
    }
.index-03:hover {
    transform: scale(2);
    }

.navegador:hover {
  color: #56070C;
}    