.menu {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .menu ul li {
    list-style: none;
    padding: 0%;
    display: inline-block; }
    .menu ul li a {
      text-decoration: none; }
  .menu .logo {
    text-decoration: none; }

.navegador {
  font-family: 'Antonio', sans-serif;
  font-size: 24px;
  padding: 18px;
  font-weight: 700;
  color: #2C2B2B; }
  .navegador:hover {
    color: #56070C; }

footer .grid-footer {
  display: grid;
  grid-template-columns: 50% auto;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: stretch; }

footer h2 {
  font-weight: 300; }

footer .redes svg {
  margin-right: 1em; }

.inicio {
  grid-area: Inicio; }

.slogan {
  padding-left: 100px;
  padding-right: 100px;
  grid-area: Slogan; }

.titulo {
  padding-top: 20px;
  display: flex;
  text-align: left; }

.color-#2C2B2B {
  background-color: #2C2B2B; }

.color-#56070C {
  background-color: #56070C; }

.color-#34591B {
  background-color: #34591B; }

body {
  background: linear-gradient(to right, #DFE6E8, #BBC8CD); }

main {
  display: grid;
  grid-template-areas: "Inicio" "Slogan" "Container-index"; }

h1 {
  font-family: 'Antonio', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 700; }

h2 {
  font-size: 18px;
  text-align: justify;
  font-weight: 700; }
  h2 h3 h4 {
    font-family: 'Roboto Condensed', sans-serif; }

h3 {
  font-weight: 300;
  text-align: justify;
  font-size: 16px;
  padding-top: 16px; }

h4 {
  font-weight: 300;
  text-align: justify;
  font-size: 14px; }

h5 {
  font-family: 'Antonio', sans-serif;
  font-weight: 700;
  text-align: center; }

.titulo-principal, .index-cont {
  border-top: 1px solid #2C2B2B;
  border-bottom: 1px solid #2C2B2B;
  padding: 1em 0; }

.index-cont {
  border-bottom: none; }

.slide img {
  height: 600px;
  width: 100%;
  border-radius: 20px; }

.grid-layout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto; }

.resena {
  padding: 10px;
  display: grid;
  justify-content: stretch;
  text-align: justify;
  align-content: space-between;
  grid-template-columns: auto auto; }

.r1 {
  grid-row: 1/4;
  width: 100%; }
  .r1 img {
    width: 100%; }

.textodestacado {
  width: 100%; }

iframe {
  border-radius: 20px;
  display: block;
  padding-bottom: 30px;
  width: 100%;
  height: 600px; }

.d-flex {
  width: 100%; }

.imagenformulario img {
  border-radius: 20px;
  padding-bottom: 10px;
  width: 100%; }

.btn-primary {
  background-color: #34591B; }

.form-control {
  width: 100%;
  padding: 15px; }

.grid-index {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  animation-name: entrada-lateral;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; }

.container-index img {
  border-radius: 20px;
  grid-area: Container-index; }

.carousel h2 {
  color: #fff;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px; }

.carousel .carousel-item img {
  position: relative;
  background: linear-gradient #000, #000; }

.container-contacto .btn {
  width: 100%; }
  .container-contacto .btn h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold; }

.redsocial-linkedin {
  color: #264f72; }

.redsocial-facebook {
  color: #242686; }

.redsocial-instagram {
  color: #ba20bc; }

@keyframes entrada-lateral {
  0% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0px); } }

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column; }
    .menu ul li {
      display: block; }
  .slogan {
    padding-left: 10px;
    padding-right: 10px; }
  .slide img {
    height: 300px;
    width: 400px; }
  .grid-layout {
    grid-template-columns: auto; }
  .form-control {
    width: 100%;
    padding: 5px; }
  .grid-index {
    grid-template-columns: auto;
    justify-content: space-around; } }

@media screen and (max-width: 1024px) {
  .resena {
    grid-template-columns: auto; }
  footer .grid-footer {
    grid-template-columns: 50% auto; } }
