body {
    background: linear-gradient(to right, #DFE6E8, #BBC8CD ); 
}
menu .nav {
    display: flex;
    flex-direction: row;
}
.navegador {
    color: #2C2B2B;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    padding: 26px;
    display: inline-block;
}
.navegador .logo {
    float: left;
}
.slide img {
    height: 600px;
    width: 800px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #292929, #2929291c );
}