body {
    background: linear-gradient(to right, #DFE6E8, #BBC8CD ); 
    margin: auto;
}
 /* header */
.menu {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu ul li {
    list-style: none;
    padding: 0%;
    display: inline-block;
}
.menu ul li a, .menu .logo {
    text-decoration: none;
}
.navegador {
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
    padding: 18px;
    font-weight: 700;
    color: #2C2B2B;
}

/* main */
main {
    display: grid;
    grid-template-areas: 
    "Inicio"
    "Slogan"
    "container-index";
}
/* footer */
footer .grid-footer {
    display: grid;
    grid-template-columns: 50% auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: stretch;
}
/* colores */
.colorprimary {
    color: #2C2B2B;
}
.colorsecundary {
    color: #56070C;
}
.coloracento {
    color: #34591B;
}

/* titulos */
h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
h2 h3 h4 {
    font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}
h3 {
    font-weight: 700;
    text-align: justify;
    font-size: 16px;
    padding-top: 16px;
}
h4 {
    font-weight: 300;
    text-align: justify;
    font-size: 16px;
}
.inicio {
    grid-area: Inicio;
}
.slogan {
    padding-left: 100px;
    padding-right: 100px;
    grid-area: Slogan;
}
.titulo {
    padding-top: 20px;
    display: flex;
    text-align: left;
}
/* carrousel y cocina */
.slide img {
    height: 600px;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to top, #292929, #2929291c );
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.resena {
    text-align: justify;
    align-content: space-between;
    padding: 10px;
    justify-content: stretch;
    display: grid;
    grid-template-columns: auto auto;
}
/* reseñas */
.r1 {
    grid-row: 1/4;
    width: 500px;
}
.textodestacado {
    width: 400px;
}
/* mapa */
iframe {
    border-radius: 20px;
    display: block;
    padding-bottom: 30px;
    width: 100%;
    height: 600px;
}
.d-flex {
    width: 100%;
}
/* formulario */
.mb-3 input, .mb-3 textarea {
    width: 50%;
}
.imagenformulario img {
    border-radius: 20px;
    float: right;
    padding-bottom: 10px;
}
.btn-primary {
    background-color: #34591B;
}
/* buscador */
.form-control {
    width: 100%;
    padding: 15px;
}
/* index */
.grid-index {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    animation-name: entrada-lateral;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.container-index img {
    border-radius: 20px;
    grid-area: container-index;
}

/* transformaciones */
.index-01:hover, .index-02:hover, .index-03:hover {
    transform: scale(2);
}
.navegador:hover {
  color: #56070C;
} 

@keyframes entrada-lateral {
0% {
    transform: translateX(-200px);
}
100% {
    transform: translateX(0px) ;
}
}  

/* estilo mobile */
@media screen and (max-width: 768px) {
.menu {
 flex-direction: column;
}
.menu ul li {
    display: block;
}
.slogan {
    padding-left: 10px;
    padding-right: 10px;
}
.slide img {
    height: 300px;
    width: 400px;
}
.grid-layout {
    grid-template-columns: auto;
}
.form-control {
    width: auto;
    padding: 5px;
    }
.grid-index {
    grid-template-columns: auto;
    justify-content: space-around;
}
.mb-3 input, .mb-3 textarea {
    width: 400px;
}
}
@media screen and (max-width: 1024px) {
.resena {
    grid-template-columns: auto;
}
}