$lista-colores: #2C2B2B, #56070C, #34591B;  
$color-fondo: linear-gradient(to right, #DFE6E8, #BBC8CD ); 
$spacing: 8px;
$redes: (
    linkedin: #264f72,
    facebook: #242686,
    instagram: #ba20bc,
); 