$color-primay: #2C2B2B;
$color-secundary: #56070C;
$color-tertiary: #34591B;
$color-fondo: linear-gradient(to right, #DFE6E8, #BBC8CD ); 
$spacing: 8px;
$redes: (
    twitter: #1674c6,
    facebook: #061e34,
    instagram: #ba20bc,
); 
